[submodule "3rdparty/mbedtls"]
	path = 3rdparty/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "3rdparty/Catch"]
	path = 3rdparty/Catch
	url = https://github.com/philsquared/Catch.git
