# tmp and build direcotry
build
tmp
xbin
docs
res/
TODO.md
tags

# ahh! OSX finder!
.directory
.DS_Store

# key files
*.pem

# temp files
Makefile*
*.user
*.autosave
*.~
*.o
*.qmake.stash
*.pro.user*
*.bak
*.log
*_plugin_import.cpp
*.swp

# Visual studio
*.htm
*.html
*.ncb
*.idb
*.suo
*.pdb
*.vcxproj.filters
*.vcproj
*.vcxproj
*.sln
*.rc

# node.js external modules
node_modules
# neovim, vim, YouCompleteMe
.vimrc
.gvimrc
init.vim
Session.vim
.ycm_extra_conf.*
.color_coded*
# clang-format
.clang-format*
