# tmp and build direcotry
.3rdparty/
.build/
3rdparty/
docs/
TODO.md
tags
# all dot files: .clang-format, .clang-tidy, .vimrc, .ycm_*, ...
.*

# ahh! OSX finder!
.directory
.DS_Store

# key files
*.pem
